@font-face {
	font-family: Century;
	src: url("fonts/CENSCBK.TTF");
}

body {
	background-color: #606060;
}

div {
	display: block;
	position: absolute;
	font-family: serif;
	text-align: center;
}

div.main {
	top: 200px;
	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: 600px;
}

div.contentLine {
	display: block;
	position: relative;
	margin: auto;
}

span {
	position: relative;
	display: inline;
}

span.name{
	font-family: Century;
	font-size: 65px;
	color: #262626;
	
	vertical-align: baseline;
}

span.italic {
	font-style: italic;
	font-size: 35px;
	color: #444;
	
	vertical-align: top;
}

span.job {
	font-family: Century;
	font-size: 50px;
	color: #2f2f2f;
	
	padding-left: 5px;
	vertical-align: baseline;
}

a {
	color: #2f2f2f;
	text-decoration: none;
	
	transition: all 1s;
}

a:hover{
	opacity: .5;
	
	transition: all 0.2s;
}

#first {
	margin-left: -250px;
}

#second {
	margin-top: -13px;
	margin-left: 20px;
}

#third{
	margin-top: -13px;
	margin-left: -75px;
}

#fourth {
	margin-top: -13px;
	margin-left: 250px;
}