@font-face {
	font-family: Century;
	src: url("fonts/CENSCBK.TTF");
}

body {
	font-family: Century;
	background-color: #fff;
}

div {
	display: block;
}

a {
	color: #9a9a9a;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div#topbar {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: #2f2f2f;
	border-bottom: 1px solid #111;
	
	overflow: hidden;
	z-index: 999;
}

div#topnav {
	position: relative;
	max-width: 1000px;
	min-width: 450px;
	height: 50px;
	left: 5%;
	text-align: left;
	
	color: #9a9a9a;
}

#topnav ul {
	position: relative;
	padding-top: 14px;
	max-width: 720px;
	left: 300px;
}

#topnav ul li {
	display: inline;
}

li.nav {
	padding-right: 20px;
	padding-left: 20px;
}

li.navactive {
	padding-right: 20px;
	padding-left: 20px;
	color: #606060;
}

#content {
	position: absolute;
	max-width: 90%;
	min-width: 450px;
	height: 100%;
	left: 5%;
	right: 0;
}

#pageheader {
	position: absolute;
	top: 51px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 300px;
	min-width: 200px;
	text-align: right;
	/*float: left;*/
	/*clear: right;*/
	
	z-index: 10;
}

span.headername {
	color: #666;
	font-size: 40px;
}

span.headeritalic {
	color: #aaa;
	font-family: serif;
	font-size: 35px;
	font-style: italic;
	
	padding-left: 7px;
	padding-right: 9px;
}

span.headerjob {
	color: #888;
	font-size: 40px;
}

div#leftnav {
	padding: 20px 10px 0 10px;
	width: 300px;
	text-align: right;
}

div#contentbody {
	position: absolute;
	left: 325px;
	top: 61px;
	min-width: 250px;
	max-height: 100%;
	z-index: 9;
	overflow: visible;
	
	color: #333;
	text-align: left;
}

#slider {
	width: 100%;
	height: 100%;
	overflow: visible;
	z-index: 12;
}

#contentbody > div.cycleoverlay {
	cursor: pointer;
	top: 0;
	position: absolute;
	z-index: 998;
	height: 100%;
}

#contentbody > div.#leftoverlay {
	width: 30%;
	left: 0;
}

#contentbody > div.#rightoverlay {
	width: 70%;
	left: 30%;
}

#slider > img {
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 800px;
	float: left;
	display: none;
	z-index: 11;
}